In [1]:
! activate ai-azure-c1

import sys

sys.path.append("/opt/conda/envs/ai-azure-c1/lib/python3.8/site-packages")

In [2]:
from azure.core.credentials import AzureKeyCredential
from azure.ai.formrecognizer import FormRecognizerClient

import pandas as pd
import os
from datetime import datetime

In [3]:
manifest_url = "https://storage244721.blob.core.windows.net/container/FlightManifest.csv?sp=racwdyt&st=2023-12-04T02:23:36Z&se=2023-12-04T10:23:36Z&spr=https&sv=2022-11-02&sr=b&sig=r%2FtNnmJff2ZOl0d0EVdHtzynBedfI%2BufJHsVmfLcFec%3D"

In [4]:
df_manifest = pd.read_csv(manifest_url)

In [5]:
df_manifest

,Passanger Name,First Name,Last Name,Date of Birth,Sex,Carrier,Flight No.,Class,From,To,...,Baggage,Seat,Gate,Boarding Time,Ticket No.,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,Sameer Kumar,Sameer,Kumar,25/01/1990,M,UA,234,Economy,San Francisco,Chicago,...,YES,34A,G1,10:00 AM PST,34236746,False,False,False,False,False
1,Radha S. Kumar,Radha,Kumar,05/03/1994,F,UA,234,Economy,San Francisco,Chicago,...,YES,34B,G1,10:00 AM PST,34236747,False,False,False,False,False
2,James Webb,James,Webb,15/12/1970,M,UA,234,Business,San Francisco,Chicago,...,No,1A,G1,10:00 AM PST,34236748,False,False,False,False,False
3,Libby Herold,Libby,Herold,10/02/1996,F,UA,234,Business,San Francisco,Chicago,...,No,3D,G1,10:00 AM PST,34236749,False,False,False,False,False
4,James Jackson,James,Jackson,12/10/1956,M,UA,234,Economy,San Francisco,Chicago,...,YES,25B,G1,10:00 AM PST,34236750,False,False,False,False,False
5,Avkash Chauhan,Avkash,Chauhan,01/01/1990,M,UA,234,Economy,San Francisco,Chicago,...,No,20A,G1,10:00 AM PST,34236751,False,False,False,False,False

In [6]:
AZURE_FORM_RECOGNIZER_ENDPOINT = "https://docint244721.cognitiveservices.azure.com/"
AZURE_FORM_RECOGNIZER_KEY = "ba8810c66fff4089a77ef017b9055ffc"
model_id = '7b467153-beec-4265-a123-b51b724f267e' # custom_model_info.model_id

endpoint = AZURE_FORM_RECOGNIZER_ENDPOINT
key = AZURE_FORM_RECOGNIZER_KEY
form_recognizer_client = FormRecognizerClient(endpoint=endpoint, credential=AzureKeyCredential(key))

In [7]:
id_url = "https://raw.githubusercontent.com/MatthewDGeorge/Kiosk/master/starter/digital_id_template"
bp_url = "https://raw.githubusercontent.com/MatthewDGeorge/Kiosk/master/starter/boarding_pass_template"

In [8]:
for index, row in df_manifest.iterrows():
    passenger = row['First Name']+'-'+row['Last Name']
    
#passenger = 'libby-herold'
#index = 3

    ca_dl = id_url + "/ca-dl-{}.png".format(passenger).lower()
    ca_dl_output = form_recognizer_client.begin_recognize_identity_documents_from_url(ca_dl)
    ca_dl_text = ca_dl_output.result()

    identity_card = ca_dl_text[0]
    id_first_name = identity_card.fields.get("FirstName").value
    id_last_name = identity_card.fields.get("LastName").value
    id_dob = identity_card.fields.get("DateOfBirth").value

    bp = bp_url + "/boarding-{}.pdf".format(passenger).lower()
    custom_test_action = form_recognizer_client.begin_recognize_custom_forms_from_url(model_id=model_id, form_url = bp)
    custom_test_action.result
    custom_test_action_result = custom_test_action.result()

    boarding_pass = custom_test_action_result[0]
    bp_first_name = boarding_pass.fields.get("FirstName").value
    bp_last_name = boarding_pass.fields.get("LastName").value
    bp_flight_number = boarding_pass.fields.get("FlightNumber").value
    bp_seat_number = boarding_pass.fields.get("SeatNumber").value
    bp_class = boarding_pass.fields.get("Class").value
    if bp_class == 'E': bp_class = 'Economy'
    elif bp_class == 'B': bp_class = 'Business'
    bp_origin = boarding_pass.fields.get("Origin").value
    bp_destination = boarding_pass.fields.get("Destination").value
    bp_flight_date = datetime.strptime(boarding_pass.fields.get("FlightDate").value, '%B %d, %Y').date()   
    bp_flight_time = boarding_pass.fields.get("FlightTime").value

    
    df_manifest.loc[index,'NameValidation'] = False

    if df_manifest['First Name'][index].lower() == id_first_name.lower() == bp_first_name.lower() \
    and df_manifest['Last Name'][index].lower() == id_last_name.lower() == bp_last_name.lower():
        df_manifest.loc[index,'NameValidation'] = True

    
    df_manifest.loc[index,'DoBValidation'] = False

    if datetime.strptime(df_manifest['Date of Birth'][index], '%d/%m/%Y').date() == id_dob:
        df_manifest.loc[index,'DoBValidation'] = True


    df_manifest.loc[index,'BoardingPassValidation'] = False    

    if df_manifest['Flight No.'][index] == int(bp_flight_number) \
    and df_manifest['Class'][index] == bp_class \
    and df_manifest['Boarding Time'][index][0:5] == bp_flight_time \
    and datetime.strptime(df_manifest['Date'][index], '%B %d, %Y').date() == bp_flight_date \
    and df_manifest['From'][index] == bp_origin \
    and df_manifest['To'][index] == bp_destination \
    and df_manifest['Seat'][index] == bp_seat_number:
        df_manifest.loc[index,'BoardingPassValidation'] = True

In [9]:
df_manifest

,Passanger Name,First Name,Last Name,Date of Birth,Sex,Carrier,Flight No.,Class,From,To,...,Baggage,Seat,Gate,Boarding Time,Ticket No.,NameValidation,DoBValidation,PersonValidation,BoardingPassValidation,LuggageValidation
0,Sameer Kumar,Sameer,Kumar,25/01/1990,M,UA,234,Economy,San Francisco,Chicago,...,YES,34A,G1,10:00 AM PST,34236746,True,True,False,True,False
1,Radha S. Kumar,Radha,Kumar,05/03/1994,F,UA,234,Economy,San Francisco,Chicago,...,YES,34B,G1,10:00 AM PST,34236747,True,True,False,True,False
2,James Webb,James,Webb,15/12/1970,M,UA,234,Business,San Francisco,Chicago,...,No,1A,G1,10:00 AM PST,34236748,True,True,False,True,False
3,Libby Herold,Libby,Herold,10/02/1996,F,UA,234,Business,San Francisco,Chicago,...,No,3D,G1,10:00 AM PST,34236749,True,True,False,True,False
4,James Jackson,James,Jackson,12/10/1956,M,UA,234,Economy,San Francisco,Chicago,...,YES,25B,G1,10:00 AM PST,34236750,True,True,False,True,False
5,Avkash Chauhan,Avkash,Chauhan,01/01/1990,M,UA,234,Economy,San Francisco,Chicago,...,No,20A,G1,10:00 AM PST,34236751,True,True,False,True,False

In [10]:
df_manifest.to_excel('Final Manifest Table.xlsx')